openapi: 3.0.3
info:
  title: Coupon List API 🏷️
  description: |
    API for managing coupon lists within the MoEngage system. This includes creating, fetching, updating, activating, archiving lists, uploading coupon files, managing files, and generating usage reports.
    Authentication is via Basic Auth using your **Workspace ID** as username and an **API Key** as password.
  version: '1.0'
servers:
  - url: 'https://api.moengage.com/v1'
    description: The MoEngage Coupon Management API endpoint.
tags:
  - name: Coupon Lists
    description: Operations related to defining, managing status (active/archive), and modifying coupon list metadata.
  - name: Coupon Files
    description: Operations related to uploading coupon codes via files and checking/managing file processing status.
  - name: Reports
    description: Operations related to generating usage reports for coupon lists.
paths:
  /coupon-list:
    post:
      tags:
        - Coupon Lists
      summary: Create Coupon List
      operationId: createCouponList
      description: |
        Creates a new, organized coupon list definition to hold unique, single-use coupon codes within the system. Coupons must be added separately using the Upload Coupons via File URL API.
      x-mint:
        content: |
          <Note>
            This API creates the coupon list with basic specifications only. The coupons should be added using the **Upload Coupons via File URL API** to this coupon list before utilizing it in campaigns.
          </Note>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponListRequest'
      responses:
        '201':
          description: Coupon list creation request accepted successfully. The list status will be **ACTIVE**.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Coupon Lists
      summary: Fetch All Coupon Lists
      operationId: fetchAllCouponLists
      description: |
        Retrieves all coupon lists in the workspace, optionally filtered by status (**ACTIVE**, **ARCHIVED**, **EXPIRED**). 
        If no status is specified, this API returns all existing coupon lists together.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - name: status
          in: query
          required: false
          description: Filter lists by status.
          schema:
            type: string
            enum: [ACTIVE, ARCHIVED, EXPIRED]
      responses:
        '200':
          description: Successfully retrieved a list of coupon lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CouponList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /coupon-list/{coupon_list_id}:
    get:
      tags:
        - Coupon Lists
      summary: Fetch Coupon List Details
      operationId: fetchCouponList
      description: |
        Retrieves the specifications and status of a specific coupon list by its ID. 
        The response includes configurations, statuses, expiry dates, alert conditions, and real-time counts of total and available coupons.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      responses:
        '200':
          description: Coupon list details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Coupon list not found for the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Coupon Lists
      summary: Update Coupon List
      operationId: updateCouponList
      description: |
        Modifies an existing coupon list's properties like name, expiry date, subscribers, and alert conditions.
        Crucially, this API **reactivates** an ARCHIVED or EXPIRED list if a new expiry date in the future is provided.
      x-mint:
        content: |
          <Note>
            This API reactivates the *ARCHIVED* or *EXPIRED* coupon list upon modification, provided the list has a future expiration date.
          </Note>
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponListRequest'
      responses:
        '200':
          description: Coupon list updated successfully. Returns the updated list details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /coupon-list/{coupon_list_id}/activate:
    put:
      tags:
        - Coupon Lists
      summary: Activate Coupon List
      operationId: activateCouponList
      description: |
        Reactivates an **ARCHIVED** coupon list. This requires providing a new expiry date that is in the future.
      x-mint:
        content: |
          <Note>
            - Only active coupon lists can be utilized in campaigns.
            - If you need to modify the expiry date and activate a coupon list, you must use the **Update Coupon List (PATCH)** API.
          </Note>
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - expires_at
              properties:
                expires_at:
                  type: string
                  format: date
      responses:
        '204':
          description: Coupon list activated successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /coupon-list/{coupon_list_id}/archive:
    put:
      tags:
        - Coupon Lists
      summary: Archive Coupon List
      operationId: archiveCouponList
      description: |
        Archives an active coupon list. Upon archival, the coupon codes within the list are deleted.
      x-mint:
        content: |
          <Note>
            Verify the usage of a given coupon list in active or planned campaigns before archiving it.
          </Note>
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      responses:
        '204':
          description: Coupon list archived successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /coupon-list/{coupon_list_id}/files:
    post:
      tags:
        - Coupon Files
      summary: Upload Coupons via File URL
      operationId: uploadCouponFile
      description: Adds coupons to a list by processing a file hosted at a given URL.
      x-mint:
        content: |
          <Note>
            - Upon API request, file processing begins, and the file status will be **PENDING**.
            - For convenience, a callback URL can be set up to trigger when the file's processing is completed.
          </Note>
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadCouponFileRequest'
      responses:
        '201':
          description: Coupon file upload request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Coupon Files
      summary: Fetch All Coupon Files From Coupon List
      operationId: fetchAllCouponFiles
      description: |
        This API allows you to retrieve the details of each file in the given coupon list that is added and not deleted. The information retrieved will include the file's status, the number of coupons added from each file, and the respective file's addition date, thereby providing a comprehensive breakdown of each file's information for improved management and tracking.
      x-mint:
        content: |
          <Note>
            There is no request body or content to send for this request except for headers.
          </Note>

          ### Rate Limit
          You can fetch 10,000 coupon files from coupon lists per day.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - name: coupon_list_id
          in: path
          required: true
          description: This field contains the coupon list ID from which you fetched the coupon files.
          schema:
            type: string
      responses:
        '200':
          description: |
            Success
            Indicates that the request was successful and the coupon files have been fetched.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        coupon_list_id:
                          type: string
                          description: This field contains the coupon list ID from which you fetched the coupon files.
                        name:
                          type: string
                          description: |
                            This field contains the coupon file name.
                            <Note>This is an optional field.</Note>
                        status:
                          type: string
                          description: |
                            This field shows one of the following statuses of the fetched coupon files:
                            * PENDING
                        file_url:
                          type: string
                          description: This field consists of the file path of the coupon list.
                        created_at:
                          type: string
                          description: This field consists of the date and time the coupon file was created.
                        updated_at:
                          type: string
                          description: This field consists of the date and time of the most recent update to the coupon file.
                        created_by:
                          type: string
                          description: |
                            This field consists of the name of the subscriber who uploaded the coupon file.
                            <Note>This is an optional field.</Note>
                        _id:
                          type: string
                          description: This field contains the unique ID corresponding to a successful coupon file fetch request. This ID is also used to update and archive coupon files from the coupon list.
                        added_coupons:
                          type: integer
                          description: This field consists of the available number of coupons added to the coupon list.
                        callback_url:
                          type: string
                          description: |
                            This field consists of the callback URL.
                            <Note>This is an optional field.</Note>
        '400':
          description: |
            Bad request
            Possible issues include duplicates, such as coupon list names, invalid data types, or missing mandatory attributes. For more information, refer to Error Messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: |
            Unauthenticated
            Your request is unauthorized. Verify your credentials and try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: |
            Forbidden
            Your account does not have access to the Coupon Management features. Contact the MoEngage team for further assistance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Too Many Requests
            This response is returned when the number of requests per minute has exceeded the rate limit.
            
            There won't be any response body for this request.
          headers:
            x-ratelimit-limit:
              schema:
                type: integer
              description: The maximum number of requests that the consumer is permitted to make in a given time window.
            x-ratelimit-remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            x-ratelimit-reset:
              schema:
                type: integer
              description: The time at which the current rate limit window resets in UTC epoch seconds.
        '500':
          description: |
            Internal server error
            Something went wrong with your request. Contact the MoEngage team for further assistance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /coupon-list/{coupon_list_id}/files/{coupon_file_id}: 
    get:
      tags:
        - Coupon Files
      summary: Fetch a Coupon File from Coupon List
      operationId: fetchCouponFile
      description: |
        This API allows you to retrieve the details of a specific file in the given coupon list. The information retrieved will include the file's status, the number of coupons added from each file, and the respective file's addition date, thereby providing a comprehensive breakdown of the file's information for improved management and tracking.
      x-mint:
        content: |
          <Note>
            There is no request body or content to send for this request except for headers.
          </Note>

          ### Rate Limit
          You can fetch 10,000 coupon files from coupon lists per day.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
        - $ref: '#/components/parameters/CouponFileIdPath' 
      responses:
        '200':
          description: |
            Success
            Indicates that the request was successful and the coupon files have been fetched.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      coupon_list_id:
                        type: string
                        description: This field contains the coupon list ID from which you fetched the coupon files.
                      name:
                        type: string
                        description: |
                          This field contains the coupon file name.
                          <Note>This is an optional field.</Note>
                      status:
                        type: string
                        description: |
                          This field shows one of the following statuses of the fetched coupon files:
                          * PENDING
                      file_url:
                        type: string
                        description: This field consists of the file path of the coupon list.
                      created_at:
                        type: string
                        description: This field consists of the date and time the coupon file was created.
                      updated_at:
                        type: string
                        description: This field consists of the date and time of the most recent update to the coupon file.
                      created_by:
                        type: string
                        description: |
                          This field consists of the name of the subscriber who uploaded the coupon file.
                          <Note>This is an optional field.</Note>
                      _id:
                        type: string
                        description: This field contains the unique ID corresponding to a successful coupon file fetch request. This ID is also used to update and archive coupon files from the coupon list.
                      added_coupons:
                        type: integer
                        description: This field consists of the available number of coupons added to the coupon list.
                      callback_url:
                        type: string
                        description: |
                          This field consists of the callback URL.
                          <Note>This is an optional field.</Note>
        '400':
          description: |
            Bad request
            Possible issues include duplicates, such as coupon list names, invalid data types, or missing mandatory attributes. For more information, refer to Error Messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: |
            Unauthenticated
            Your request is unauthorized. Verify your credentials and try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: |
            Forbidden
            Your account does not have access to the Coupon Management features. Contact the MoEngage team for further assistance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Too Many Requests
            This response is returned when the number of requests per minute has exceeded the rate limit.
            
            There won't be any response body for this request.
          headers:
            x-ratelimit-limit:
              schema:
                type: integer
              description: The maximum number of requests that the consumer is permitted to make in a given time window.
            x-ratelimit-remaining:
              schema:
                type: integer
              description: The number of requests remaining in the current rate limit window.
            x-ratelimit-reset:
              schema:
                type: integer
              description: The time at which the current rate limit window resets in UTC epoch seconds.
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: |
            Internal server error
            Something went wrong with your request. Contact the MoEngage team for further assistance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Coupon Files
      summary: Delete a Coupon File from the Coupon List
      operationId: deleteCouponFile
      description: This API allows you to remove a specific coupon file from a coupon list.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
        - $ref: '#/components/parameters/CouponFileIdPath' 
      responses:
        '204':
          description: Coupon file deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /coupon-list/{coupon_list_id}/usage-report:
    post:
      tags:
        - Reports
      summary: Generate Usage Report
      operationId: generateUsageReport
      description: Generates a detailed usage report for a coupon list.
      parameters:
        - $ref: '#/components/parameters/AppKeyHeader'
        - $ref: '#/components/parameters/CouponListIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start_date, end_date, email_subscribers]
              properties:
                start_date: { type: string, format: date }
                end_date: { type: string, format: date }
                email_subscribers: { type: array, items: { type: string, format: email } }
      responses:
        '200':
          description: Report generation started.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Uses **Workspace ID** as username and **API Key** as password.'
  parameters:
    AppKeyHeader:
      name: MOE-APPKEY
      in: header
      required: true
      description: |
        This is the workspace ID (earlier APP ID) of your MoEngage workspace. The MOE-APPKEY has to be passed in the request. You can find your MoEngage Workspace ID in the MoEngage Dashboard: **Settings** -> **Account** -> **APIs** -> **Workspace ID (earlier app id)**.
      schema:
        type: string
    CouponListIdPath:
      name: coupon_list_id
      in: path
      required: true
      description: The unique identifier for the coupon list.
      schema:
        type: string
    CouponFileIdPath: 
      name: coupon_file_id
      in: path
      required: true
      description: The unique identifier for the coupon file.
      schema:
        type: string
  schemas:
    AlertConditions:
      type: object
      properties:
        success_alert: { type: boolean }
        failure_alert: { type: boolean }
        coupon_shortage_alert:
          type: object
          properties: { alert: { type: boolean }, threshold_count: { type: integer } }
        expiry_alert:
          type: object
          properties: { alert: { type: boolean }, days_before: { type: integer } }
    CreateCouponListRequest:
      type: object
      required: [name, label, expires_at, created_by]
      properties:
        name: { type: string }
        label: { type: string }
        expires_at: { type: string, format: date }
        email_alert_subscribers: { type: array, items: { type: string, format: email } }
        created_by: { type: string }
        alert_conditions: { $ref: '#/components/schemas/AlertConditions' }
    UpdateCouponListRequest:
      type: object
      properties:
        name: { type: string }
        expires_at: { type: string, format: date }
        email_alert_subscribers: { type: array, items: { type: string, format: email } }
        alert_conditions: { $ref: '#/components/schemas/AlertConditions' }
    CouponList:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        label: { type: string }
        expires_at: { type: string, format: date-time }
        status: { type: string, enum: [ACTIVE, EXPIRED, ARCHIVED] }
        total_coupons: { type: integer }
        available_coupons: { type: integer }
    UploadCouponFileRequest:
      type: object
      required: [file_url]
      properties:
        name: { type: string }
        file_url: { type: string, format: url }
        created_by: { type: string }
        callback_url: { type: string, format: url }
    CouponFile:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        status: { type: string }
        added_coupons: { type: integer }
        file_url: { type: string }
    FetchCouponFilesResponseItem:
      type: object
      description: Representation of a coupon file in the response.
      properties:
        coupon_list_id:
          type: string
          description: This field contains the coupon list ID from which you fetched the coupon files.
        name:
          type: string
          description: |
            This field contains the coupon file name.
            <Note>This is an optional field.</Note>
        status:
          type: string
          description: |
            This field shows one of the following statuses of the fetched coupon files:
            * PENDING
        file_url:
          type: string
          description: This field consists of the file path of the coupon list.
        created_at:
          type: string
          description: This field consists of the date and time the coupon file was created.
        updated_at:
          type: string
          description: This field consists of the date and time of the most recent update to the coupon file.
        created_by:
          type: string
          description: |
            This field consists of the name of the subscriber who uploaded the coupon file.
            <Note>This is an optional field.</Note>
        _id:
          type: string
          description: This field contains the unique ID corresponding to a successful coupon file fetch request. This ID is also used to update and archive coupon files from the coupon list.
        added_coupons:
          type: integer
          description: This field consists of the available number of coupons added to the coupon list.
        callback_url:
          type: string
          description: |
            This field consists of the callback URL.
            <Note>This is an optional field.</Note>
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
    ErrorResponse:
      type: object
      properties:
        error: { $ref: '#/components/schemas/Error' }
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Not Found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
security:
  - basicAuth: []